<a href="https://colab.research.google.com/github/JSJeong-me/TorchText/blob/main/han.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!pip install -r requirements.txt

In [2]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup 
import time

In [3]:
df = pd.read_excel('./주관식.xlsx')

In [4]:
df.columns

Index(['1-5. 학교에서 배웠던 과목명을 기억나는 대로 모두 적어주세요.', 'Unnamed: 1', 'Unnamed: 2',
       '2-2. 학교 밖에서는 언제 처음 배웠나요? (예-초등학교 3학년)',
       '2-3. 학교 밖에서 배운 기간은 어느 정도 되나요? (예-1년 2개월)',
       '2-4. 학교 밖에서의 가장 최근 수업은 1주일에 몇 시간 정도 배웠나요? (예-2시간)', '학교밖',
       '5-1. ‘예’라고 응답한 경우, 공통점은 무엇일까요?', '5-2. ‘예’라고 응답한 경우, 차이점은 무엇일까요?',
       '6-1. ‘예’라고 응답한 경우, 어떤 제품이 있을까요?'],
      dtype='object')

In [5]:
df.shape

(6803, 10)

In [6]:
df.head(5)

  1-5. 학교에서 배웠던 과목명을 기억나는 대로 모두 적어주세요.  ... 6-1. ‘예’라고 응답한 경우, 어떤 제품이 있을까요?
0                  Open-Ended Response  ...             Open-Ended Response
1                                 엔트리   ...                          휴대폰 tv
2                                   정보  ...                 감정을 표현하는 강아지 로봇
3                                   정보  ...                              서빙
4                                  엔트리  ...                        유튜브,시계등등

[5 rows x 10 columns]

In [7]:
import re

def remove_white_space(text):
    text = re.sub(r'[\t\r\n\f\v]', ' ', str(text))
    return text

def remove_special_char(text):
    text = re.sub('[^ ㄱ-ㅣ가-힣 0-9]+', ' ', str(text))
    return text

df['1-5. 학교에서 배웠던 과목명을 기억나는 대로 모두 적어주세요.'] = df['1-5. 학교에서 배웠던 과목명을 기억나는 대로 모두 적어주세요.'].apply(remove_white_space)
df['1-5. 학교에서 배웠던 과목명을 기억나는 대로 모두 적어주세요.'] = df['1-5. 학교에서 배웠던 과목명을 기억나는 대로 모두 적어주세요.'].apply(remove_special_char)

df['2-2. 학교 밖에서는 언제 처음 배웠나요? (예-초등학교 3학년)'] = df['2-2. 학교 밖에서는 언제 처음 배웠나요? (예-초등학교 3학년)'].apply(remove_white_space)
df['2-2. 학교 밖에서는 언제 처음 배웠나요? (예-초등학교 3학년)'] = df['2-2. 학교 밖에서는 언제 처음 배웠나요? (예-초등학교 3학년)'].apply(remove_special_char)

df['2-3. 학교 밖에서 배운 기간은 어느 정도 되나요? (예-1년 2개월)'] = df['2-3. 학교 밖에서 배운 기간은 어느 정도 되나요? (예-1년 2개월)'].apply(remove_white_space)
df['2-3. 학교 밖에서 배운 기간은 어느 정도 되나요? (예-1년 2개월)'] = df['2-3. 학교 밖에서 배운 기간은 어느 정도 되나요? (예-1년 2개월)'].apply(remove_special_char)
 
df['2-4. 학교 밖에서의 가장 최근 수업은 1주일에 몇 시간 정도 배웠나요? (예-2시간)'] = df['2-4. 학교 밖에서의 가장 최근 수업은 1주일에 몇 시간 정도 배웠나요? (예-2시간)'].apply(remove_white_space)
df['2-4. 학교 밖에서의 가장 최근 수업은 1주일에 몇 시간 정도 배웠나요? (예-2시간)'] = df['2-4. 학교 밖에서의 가장 최근 수업은 1주일에 몇 시간 정도 배웠나요? (예-2시간)'].apply(remove_special_char)

df['학교밖'] = df['학교밖'].apply(remove_white_space)
df['학교밖'] = df['학교밖'].apply(remove_special_char)

df['5-1. ‘예’라고 응답한 경우, 공통점은 무엇일까요?'] = df['5-1. ‘예’라고 응답한 경우, 공통점은 무엇일까요?'].apply(remove_white_space)
df['5-1. ‘예’라고 응답한 경우, 공통점은 무엇일까요?'] = df['5-1. ‘예’라고 응답한 경우, 공통점은 무엇일까요?'].apply(remove_special_char)
 
df['5-2. ‘예’라고 응답한 경우, 차이점은 무엇일까요?'] = df['5-2. ‘예’라고 응답한 경우, 차이점은 무엇일까요?'].apply(remove_white_space)
df['5-2. ‘예’라고 응답한 경우, 차이점은 무엇일까요?'] = df['5-2. ‘예’라고 응답한 경우, 차이점은 무엇일까요?'].apply(remove_special_char)
 
df['6-1. ‘예’라고 응답한 경우, 어떤 제품이 있을까요?'] = df['6-1. ‘예’라고 응답한 경우, 어떤 제품이 있을까요?'].apply(remove_white_space)
df['6-1. ‘예’라고 응답한 경우, 어떤 제품이 있을까요?'] = df['6-1. ‘예’라고 응답한 경우, 어떤 제품이 있을까요?'].apply(remove_special_char)

In [8]:
#df.to_csv('text.csv', index = False, encoding = 'utf-8-sig')

[크롤링 데이터 확인]

In [9]:
df.head()

  1-5. 학교에서 배웠던 과목명을 기억나는 대로 모두 적어주세요.  ... 6-1. ‘예’라고 응답한 경우, 어떤 제품이 있을까요?
0                                       ...
1                                 엔트리   ...                           휴대폰
2                                   정보  ...                 감정을 표현하는 강아지 로봇
3                                   정보  ...                              서빙
4                                  엔트리  ...                        유튜브 시계등등

[5 rows x 10 columns]

[데이터 엑셀로 저장]

# 2.2 데이터 전처리

# 2.3 토크나이징 및 변수 생성

[토크나이징]

In [10]:
!pip install konlpy

Requirement already satisfied: konlpy in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.19.5)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.3.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (3.10.0.2)

In [11]:
from konlpy.tag import Okt

okt = Okt()

df['1-5_token'] = df['1-5. 학교에서 배웠던 과목명을 기억나는 대로 모두 적어주세요.'].apply(okt.morphs)

df['1-5_nouns'] = df['1-5. 학교에서 배웠던 과목명을 기억나는 대로 모두 적어주세요.'].apply(okt.nouns)

In [12]:
df['2-2_token'] = df['2-2. 학교 밖에서는 언제 처음 배웠나요? (예-초등학교 3학년)'].apply(okt.morphs)
df['2-2_nouns'] = df['2-2. 학교 밖에서는 언제 처음 배웠나요? (예-초등학교 3학년)'].apply(okt.nouns)

In [13]:
df['2-3_token'] = df['2-3. 학교 밖에서 배운 기간은 어느 정도 되나요? (예-1년 2개월)'].apply(okt.morphs)
df['2-3_nouns'] = df['2-3. 학교 밖에서 배운 기간은 어느 정도 되나요? (예-1년 2개월)'].apply(okt.nouns)

In [14]:
df['2-4_token'] = df['2-4. 학교 밖에서의 가장 최근 수업은 1주일에 몇 시간 정도 배웠나요? (예-2시간)'].apply(okt.morphs)
df['2-4_nouns'] = df['2-4. 학교 밖에서의 가장 최근 수업은 1주일에 몇 시간 정도 배웠나요? (예-2시간)'].apply(okt.nouns)

In [15]:
df['학교밖_token'] = df['학교밖'].apply(okt.morphs)
df['학교밖_nouns'] = df['학교밖'].apply(okt.nouns)

In [16]:
df['5-1_token'] = df['5-1. ‘예’라고 응답한 경우, 공통점은 무엇일까요?'].apply(okt.morphs)
df['5-1_nouns'] = df['5-1. ‘예’라고 응답한 경우, 공통점은 무엇일까요?'].apply(okt.nouns)

In [17]:
df['5-2_token'] = df['5-2. ‘예’라고 응답한 경우, 차이점은 무엇일까요?'].apply(okt.morphs)
df['5-2_nouns'] = df['5-2. ‘예’라고 응답한 경우, 차이점은 무엇일까요?'].apply(okt.nouns)

In [18]:
df['6-1_token'] = df['6-1. ‘예’라고 응답한 경우, 어떤 제품이 있을까요?'].apply(okt.morphs)
df['6-1_nouns'] = df['6-1. ‘예’라고 응답한 경우, 어떤 제품이 있을까요?'].apply(okt.nouns)

In [19]:
df.columns

Index(['1-5. 학교에서 배웠던 과목명을 기억나는 대로 모두 적어주세요.', 'Unnamed: 1', 'Unnamed: 2',
       '2-2. 학교 밖에서는 언제 처음 배웠나요? (예-초등학교 3학년)',
       '2-3. 학교 밖에서 배운 기간은 어느 정도 되나요? (예-1년 2개월)',
       '2-4. 학교 밖에서의 가장 최근 수업은 1주일에 몇 시간 정도 배웠나요? (예-2시간)', '학교밖',
       '5-1. ‘예’라고 응답한 경우, 공통점은 무엇일까요?', '5-2. ‘예’라고 응답한 경우, 차이점은 무엇일까요?',
       '6-1. ‘예’라고 응답한 경우, 어떤 제품이 있을까요?', '1-5_token', '1-5_nouns',
       '2-2_token', '2-2_nouns', '2-3_token', '2-3_nouns', '2-4_token',
       '2-4_nouns', '학교밖_token', '학교밖_nouns', '5-1_token', '5-1_nouns',
       '5-2_token', '5-2_nouns', '6-1_token', '6-1_nouns'],
      dtype='object')

In [20]:
df.drop(['1-5. 학교에서 배웠던 과목명을 기억나는 대로 모두 적어주세요.', 'Unnamed: 1', 'Unnamed: 2', \
       '2-2. 학교 밖에서는 언제 처음 배웠나요? (예-초등학교 3학년)', \
       '2-3. 학교 밖에서 배운 기간은 어느 정도 되나요? (예-1년 2개월)', \
       '2-4. 학교 밖에서의 가장 최근 수업은 1주일에 몇 시간 정도 배웠나요? (예-2시간)', '학교밖', \
       '5-1. ‘예’라고 응답한 경우, 공통점은 무엇일까요?', '5-2. ‘예’라고 응답한 경우, 차이점은 무엇일까요?', \
       '6-1. ‘예’라고 응답한 경우, 어떤 제품이 있을까요?', '1-5_token', '2-2_token', '2-3_token', '2-4_token', '학교밖_token', '5-1_token', '5-2_token', '6-1_token' ] , axis=1, inplace=True)

In [21]:
df.columns

Index(['1-5_nouns', '2-2_nouns', '2-3_nouns', '2-4_nouns', '학교밖_nouns',
       '5-1_nouns', '5-2_nouns', '6-1_nouns'],
      dtype='object')

In [ ]:
df.head()

In [22]:
df.to_csv('result.csv', index = False, encoding = 'utf-8-sig')